APP_NAME=water-delivery
APP_ENV=local
APP_PORT=8080
APP_LOG_LEVEL=debug

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=water_delivery
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379